@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/NotoSansKR-Thin.woff2") format('woff2');
    src: url("../fonts/NotoSansKR-Thin.woff") format('woff');
    src: url("../fonts/NotoSansKR-Thin.otf") format('opentype');
}
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/NotoSansKR-Light.woff2") format('woff2');
    src: url("../fonts/NotoSansKR-Light.woff") format('woff');
    src: url("../fonts/NotoSansKR-Light.otf") format('opentype');
  }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 300;
     src: url("../fonts/NotoSansKR-Regular.woff2") format('woff2');
     src: url("../fonts/NotoSansKR-Regular.woff") format('woff');
     src: url("../fonts/NotoSansKR-Regular.otf") format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 500;
     src: url("../fonts/NotoSansKR-Medium.woff2") format('woff2');
     src: url("../fonts/NotoSansKR-Medium.woff") format('woff');
     src: url("../fonts/NotoSansKR-Medium.otf") format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 600;
     src:  url("../fonts/NotoSansKR-Bold.woff2") format('woff2');
     src:  url("../fonts/NotoSansKR-Bold.woff") format('woff');
     src:  url("../fonts/NotoSansKR-Bold.otf") format('opentype');
   }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/NotoSansKR-Black.woff2") format('woff2');
    src: url("../fonts/NotoSansKR-Black.woff") format('woff');
    src: url("../fonts/NotoSansKR-Black.otf") format('opentype');
  } 
 
/* lato */
@font-face {
    font-family: 'LATO';
    src: 
    url("../fonts/Lato-Light.eot") format('eot'),
    url("../fonts/Lato-Light.woff") format('woff'),
    url("../fonts/Lato-Light.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'LATO';
    src: 
    url("../fonts/Lato-Regular.eot") format('eot'),
    url("../fonts/Lato-Regular.woff") format('woff'),
    url("../fonts/Lato-Regular.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'LATO';
    src: 
    url("../fonts/Lato-Medium.eot") format('eot'),
    url("../fonts/Lato-Medium.woff") format('woff'),
    url("../fonts/Lato-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'LATO';
    src: 
    url("../fonts/Lato-Semibold.eot") format('eot'),
    url("../fonts/Lato-Semibold.woff") format('woff'),
    url("../fonts/Lato-Semibold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'LATO';
    src: 
    url("../fonts/Lato-Bold.eot") format('eot'),
    url("../fonts/Lato-Bold.woff") format('woff'),
    url("../fonts/Lato-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
  }
 
/* TeluguMN */
@font-face {
    font-family: 'TeluguMN';
    src: url("../fonts/TeluguMN.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TeluguMN-Bold';
    src: url("../fonts/TeluguMN-Bold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

  /* reset */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input,textarea, select, button
  { margin: 0; padding: 0; border: 0; vertical-align: baseline; box-sizing:border-box; }
  table {border-collapse: collapse; border-spacing: 0; }
  table th{text-align:left;}
  form, fieldset{border:none;}
  img{vertical-align:top; border:none; }
  input, select{vertical-align:top; -webkit-appearance:none; appearance:none;}
  legend, caption{visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0; margin:0; padding:0;}
  .blind{ visibility:hidden; position:absolute; font-size:0; width:0; height:0; line-height:0; margin:0; padding:0; overflow:hidden;}
  
  /* 믹스인 */
  @mixin flex($direction:row){
      display:-webkit-box; 
      display:-ms-flexbox;
      display:flex; 
      @if($direction == row){
          -webkit-box-orient: horizontal; 
          -ms-flex-direction: row;
          flex-direction:row;
      }@else if($direction == column){
          -webkit-box-orient: vertical; 
          -ms-flex-direction: column;
          flex-direction:column;
      }
  }
  @mixin flex-justity-c($justify-c:flex-start){
      @if($justify-c == flex-end){
          -webkit-box-pack: end; 
          -ms-flex-pack: end; 
          justify-content: flex-end;
      }@else if($justify-c == space-between){
          -webkit-box-pack: justify; 
          -ms-flex-pack: justify; 
          justify-content: space-between;
      }@else if($justify-c == center){
          -webkit-box-pack: center; 
          -ms-flex-pack: center; 
          justify-content: center;
      }@else{
          -webkit-box-pack: start; 
          -ms-flex-pack: start; 
          justify-content: flex-start;
      }  
  }
  @mixin flex-align($align:stretch){
      @if($align == flex-end){
          -webkit-box-align: end; 
          -ms-flex-align: end; 
          align-items: flex-end;
      }@else if($align == flex-start){
          -webkit-box-align:start; 
          -ms-flex-align:start; 
          align-items:flex-start;
      }@else if($align == center){
          -webkit-box-align:center; 
          -ms-flex-align:center; 
          align-items:center;
      }@else{
          -webkit-box-align: stretch; 
          -ms-flex-align: stretch; 
          align-items: stretch;
      }  
  }
  @mixin flex-gsb($grow:1, $shrink:0, $basis:auto){
      -ms-flex:$grow $shrink $basis;
      flex:$grow $shrink $basis;
  }
  
  // Breakpoints
  $breakpoint-mobile: 335px;
  $breakpoint-tablet: 758px;
  $breakpoint-desktop: 1024px;
  @mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
      @content;
    }
  }

  // float clear
  @mixin clearfix {
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
  
  /* 공통 변수 */
  $color1 : #054438;
  $active-color1:#054438;
  $active-color2:#929B32; 
  $black:#000;
  $box-bg:#F3F3F3;
  $gray:#ddd;