html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
// h1, h2, h3, h4, h5, h6,
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
}

address,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

address {
    font-style: normal;
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

fieldset,
form {
    border: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

img {
    border: 0;
    max-width: 100%;
    // max-height: 100%;
    vertical-align: top;
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
}

button {
    overflow: visible;
    background: none;
    border: none;
    padding: 0;
}

button,
select {
    text-transform: none;
}

input,
select {
    vertical-align: top;
    -webkit-appearance: none;
    appearance: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

a:focus,
button:focus {
    outline: $color1 dotted thin;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input {
    line-height: normal;
}

// input 자동완성
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    padding: 0.35em 0.625em 0.75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}

captio,
legend {
    padding: 0;
    border: 0;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

caption {
    color: transparent;
    width: 0;
    height: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    visibility: hidden;
    font-size: 0;
    padding: 0;
    margin: 0;
}

td,
th {
    padding: 0;
    text-align: left;
    font-weight: normal;
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

dd,
dl,
dt {
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

b,
em,
i {
    font-style: normal;
    font-weight: normal;
}
